@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

summary {
  list-style: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

address {
  font-style: normal;
}

.header {
  padding-block: 1.4375rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header.scrolled::before {
  background: rgba(26, 30, 35, 0.2);
  backdrop-filter: blur(10px);
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 67.5em) {
  .header__inner {
    gap: 110px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .header__inner {
    gap: clamp( 20px , -17.8947368421px  +  11.8421052632vw , 110px );
  }
}
@media (max-width: 20em) {
  .header__inner {
    gap: 20px;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__logo {
  color: #fff;
  letter-spacing: 0.00625rem;
  font-weight: 700;
  line-height: 133.333333%; /* 32/24 */
  z-index: 20;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (min-width: 67.5em) {
  .header__logo {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .header__logo {
    font-size: clamp( 20px , 18.3157894737px  +  0.5263157895vw , 24px );
  }
}
@media (max-width: 20em) {
  .header__logo {
    font-size: 20px;
  }
}
html[data-input=mouse] .header__logo:hover {
  color: rgb(35, 166, 240);
}
@media (max-width: 46.5625em) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    color: rgb(37, 43, 66);
  }
}
@media (max-width: 40.625em) {
  .header__button {
    display: none !important;
  }
}

@media (max-width: 46.5625em) {
  .menu-header {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 10.25rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: auto;
  }
  .menu-open .menu-header {
    right: 0;
  }
  .menu-header::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    min-height: 5.625rem;
    background-color: rgb(189, 189, 189);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-open .menu-header::before {
    right: 0;
  }
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
}
@media (min-width: 67.5em) {
  .menu-header__list {
    gap: 20px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .menu-header__list {
    gap: clamp( 10px , 5.7894736842px  +  1.3157894737vw , 20px );
  }
}
@media (max-width: 20em) {
  .menu-header__list {
    gap: 10px;
  }
}
@media (max-width: 46.5625em) {
  .menu-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu-header__link {
  font-size: 0.875rem;
  font-weight: 600;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
html[data-input=mouse] .menu-header__link:hover {
  color: rgb(35, 166, 240);
}
@media (max-width: 46.5625em) {
  .menu-header__link {
    color: rgb(115, 115, 115);
    font-size: 1.875rem;
  }
}

@media (min-width: 67.5em) {
  .body-footer {
    padding-block: 80px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .body-footer {
    padding-block: clamp( 40px , 23.1578947368px  +  5.2631578947vw , 80px );
  }
}
@media (max-width: 20em) {
  .body-footer {
    padding-block: 40px;
  }
}
.body-footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(11.875rem, 100%), 1fr));
  row-gap: 1.25rem;
}
@media (min-width: 67.5em) {
  .body-footer__container {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .body-footer__container {
    -webkit-column-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
       -moz-column-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
            column-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
  }
}
@media (max-width: 20em) {
  .body-footer__container {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (max-width: 31.25em) {
  .body-footer__container {
    justify-items: center;
    grid-template-columns: auto;
  }
}
.column-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.25rem;
}
@media (max-width: 31.25em) {
  .column-footer {
    width: 51.64%;
  }
}
.column-footer__title {
  font-weight: 700;
  color: rgb(37, 43, 66);
  letter-spacing: 0.00625rem;
}
@media (min-width: 67.5em) {
  .column-footer__title {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .column-footer__title {
    font-size: clamp( 18px , 15.4736842105px  +  0.7894736842vw , 24px );
  }
}
@media (max-width: 20em) {
  .column-footer__title {
    font-size: 18px;
  }
}
.column-footer__text {
  font-size: 0.875rem;
  font-weight: 600;
  max-width: 13.3125rem;
  line-height: 142.857143%; /* 20/14 */
}
.column-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
}
.column-footer__link {
  font-size: 0.875rem;
  font-weight: 600;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
html[data-input=mouse] .column-footer__link:hover {
  color: rgb(35, 166, 240);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.social-media__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-media__link::before {
  color: rgb(35, 166, 240);
  font-size: 1.25rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.social-media__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: rgb(142, 194, 242);
  border-radius: 50%;
  padding: 0.625rem;
  width: 2.25rem;
  aspect-ratio: 1;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
html[data-input=mouse] .social-media__link:hover::before {
  color: #fff;
}
html[data-input=mouse] .social-media__link:hover::after {
  opacity: 1;
}

.bottom-footer {
  text-align: center;
}
@media (min-width: 67.5em) {
  .bottom-footer {
    padding-block: 25px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .bottom-footer {
    padding-block: clamp( 15px , 10.7894736842px  +  1.3157894737vw , 25px );
  }
}
@media (max-width: 20em) {
  .bottom-footer {
    padding-block: 15px;
  }
}
html[data-input=mouse] .bottom-footer__link:hover {
  text-decoration: underline;
}

@media (min-width: 67.5em) {
  .page__leading {
    padding-block: 112px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .page__leading {
    padding-block: clamp( 50px , 23.8947368421px  +  8.1578947368vw , 112px );
  }
}
@media (max-width: 20em) {
  .page__leading {
    padding-block: 50px;
  }
}
@media (min-width: 67.5em) {
  .page__faq {
    padding-block: 80px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .page__faq {
    padding-block: clamp( 50px , 37.3684210526px  +  3.9473684211vw , 80px );
  }
}
@media (max-width: 20em) {
  .page__faq {
    padding-block: 50px;
  }
}
@media (min-width: 67.5em) {
  .page__pricing {
    padding-block: 112px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .page__pricing {
    padding-block: clamp( 50px , 23.8947368421px  +  8.1578947368vw , 112px );
  }
}
@media (max-width: 20em) {
  .page__pricing {
    padding-block: 50px;
  }
}
@media (min-width: 67.5em) {
  .page__subscribe {
    padding-block: 80px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .page__subscribe {
    padding-block: clamp( 50px , 37.3684210526px  +  3.9473684211vw , 80px );
  }
}
@media (max-width: 20em) {
  .page__subscribe {
    padding-block: 50px;
  }
}
@media (min-width: 67.5em) {
  .page__reviews {
    padding-block: 112px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .page__reviews {
    padding-block: clamp( 50px , 23.8947368421px  +  8.1578947368vw , 112px );
  }
}
@media (max-width: 20em) {
  .page__reviews {
    padding-block: 50px;
  }
}

input:focus {
  outline: 0.125rem solid #000 !important;
}

.hero {
  position: relative;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 11.25rem;
  padding-bottom: 3.3125rem;
}
@media (min-width: 67.5em) {
  .hero__inner {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .hero__inner {
    -webkit-column-gap: clamp( 20px , 7.3684210526px  +  3.9473684211vw , 50px );
       -moz-column-gap: clamp( 20px , 7.3684210526px  +  3.9473684211vw , 50px );
            column-gap: clamp( 20px , 7.3684210526px  +  3.9473684211vw , 50px );
  }
}
@media (max-width: 20em) {
  .hero__inner {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.hero__inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-position: center;
  z-index: -1;
}
@media (max-width: 48.75em) {
  .hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5.625rem;
  }
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
}

.content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 67.5em) {
  .content-hero {
    row-gap: 35px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .content-hero {
    row-gap: clamp( 20px , 13.6842105263px  +  1.9736842105vw , 35px );
  }
}
@media (max-width: 20em) {
  .content-hero {
    row-gap: 20px;
  }
}
@media (max-width: 48.75em) {
  .content-hero {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.content-hero__title {
  font-weight: 800;
  letter-spacing: 0.0125rem;
  color: #fff;
  max-width: 31.8125rem;
  line-height: 137.931034%; /* 80/58 */
}
@media (min-width: 67.5em) {
  .content-hero__title {
    font-size: 58px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .content-hero__title {
    font-size: clamp( 35px , 25.3157894737px  +  3.0263157895vw , 58px );
  }
}
@media (max-width: 20em) {
  .content-hero__title {
    font-size: 35px;
  }
}
.content-hero__text {
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.0125rem;
  line-height: 150%; /* 30/20 */
  max-width: 23.4375rem;
}
@media (min-width: 67.5em) {
  .content-hero__text {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .content-hero__text {
    font-size: clamp( 18px , 17.1578947368px  +  0.2631578947vw , 20px );
  }
}
@media (max-width: 20em) {
  .content-hero__text {
    font-size: 18px;
  }
}
.content-hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 24.0625em) {
  .content-hero__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  max-width: 20.5rem;
  border-radius: 0.625rem;
}
@media (min-width: 67.5em) {
  .form-hero {
    row-gap: 40px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .form-hero {
    row-gap: clamp( 20px , 11.5789473684px  +  2.6315789474vw , 40px );
  }
}
@media (max-width: 20em) {
  .form-hero {
    row-gap: 20px;
  }
}
@media (min-width: 67.5em) {
  .form-hero {
    padding: 40px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .form-hero {
    padding: clamp( 20px , 11.5789473684px  +  2.6315789474vw , 40px );
  }
}
@media (max-width: 20em) {
  .form-hero {
    padding: 20px;
  }
}
@media (max-width: 48.75em) {
  .form-hero {
    width: 100%;
  }
}
.form-hero__title {
  font-weight: 700;
  color: rgb(37, 43, 66);
  letter-spacing: 0.00625rem;
}
@media (min-width: 67.5em) {
  .form-hero__title {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .form-hero__title {
    font-size: clamp( 20px , 18.3157894737px  +  0.5263157895vw , 24px );
  }
}
@media (max-width: 20em) {
  .form-hero__title {
    font-size: 20px;
  }
}
.form-hero__button {
  width: 100%;
  margin-top: 1.875rem;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
  width: 100%;
}
.form-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625rem;
  width: 100%;
}
.form-item__label {
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(37, 43, 66);
  letter-spacing: 0.0125rem;
}
.form-item__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.form-item__body:focus-within .form-item__icon::before {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.form-item__icon {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  padding-right: 1.25rem;
  -webkit-transition: rotate 0.4s;
  transition: rotate 0.4s;
  rotate: 0deg;
  pointer-events: none;
  cursor: pointer;
}
.form-item__icon::before {
  font-size: 0.5rem;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  will-change: rotate;
}
.form-item__select {
  font-family: "Montserrat", sans-serif;
  border: 0.0625rem solid rgb(221, 221, 221);
  padding-block: 0.6875rem;
  padding-left: 1.3125rem;
  border-radius: 0.3125rem;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 3.125rem;
  color: rgb(115, 115, 115);
  outline: none;
  cursor: pointer;
  background-color: #fff;
  font-size: 0.875rem;
  letter-spacing: 0.0125rem;
}
.form-item__select option {
  color: #000;
}
.form-item__select::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
}
.form-item__select::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}
.form-item__select:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
}
.form-item__select::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
}
.form-item__select::placeholder {
  font-family: "Montserrat", sans-serif;
}
.form-item__select:valid .form-item__icon::before {
  rotate: 180deg;
}
.form-item__select:focus-visible {
  border: 0.0625rem solid rgb(35, 166, 240);
  -webkit-box-shadow: 0 0 0 2px rgba(221, 221, 221, 0.5);
          box-shadow: 0 0 0 2px rgba(221, 221, 221, 0.5);
}
.form-item__select:has(option[value=""]:checked) {
  font-size: 0.875rem;
  color: rgb(115, 115, 115);
  letter-spacing: 0.0125rem;
}
.form-item__input {
  border: 0.0625rem solid rgb(221, 221, 221);
  padding-block: 0.6875rem;
  padding-left: 1.3125rem;
  border-radius: 0.3125rem;
  -webkit-transition: border 0.4s, opacity 0.4s, -webkit-box-shadow 0.3s ease;
  transition: border 0.4s, opacity 0.4s, -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, border 0.4s, opacity 0.4s;
  transition: box-shadow 0.3s ease, border 0.4s, opacity 0.4s, -webkit-box-shadow 0.3s ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 3.125rem;
  font-size: 1rem !important;
}
.form-item__input::-webkit-input-placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.0125rem;
  line-height: 200%; /* 28/14 */
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.form-item__input::-moz-placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.0125rem;
  line-height: 200%; /* 28/14 */
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.form-item__input:-ms-input-placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.0125rem;
  line-height: 200%; /* 28/14 */
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.form-item__input::-ms-input-placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.0125rem;
  line-height: 200%; /* 28/14 */
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.form-item__input::placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.0125rem;
  line-height: 200%; /* 28/14 */
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.form-item__input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.form-item__input:focus::-moz-placeholder {
  opacity: 0;
}
.form-item__input:focus:-ms-input-placeholder {
  opacity: 0;
}
.form-item__input:focus::-ms-input-placeholder {
  opacity: 0;
}
.form-item__input:focus::placeholder {
  opacity: 0;
}
.form-item__input:focus-visible {
  border: 0.0625rem solid rgb(35, 166, 240);
  -webkit-box-shadow: 0 0 0 2px rgba(221, 221, 221, 0.5);
          box-shadow: 0 0 0 2px rgba(221, 221, 221, 0.5);
}

input[type=time] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 0.9375rem;
}

.booking-container {
  position: relative;
  width: 100%;
}
.booking-container__label {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0125rem;
  color: rgb(37, 43, 66);
  margin-bottom: 0.75rem;
}
.booking-container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.625rem;
  height: 3.125rem;
}
.booking-container__inner .form-item__icon {
  translate: 0 0.1875rem;
}
.booking-container__inner:focus-within .form-item__icon::before {
  -webkit-transform: translateY(0) rotate(180deg);
      -ms-transform: translateY(0) rotate(180deg);
          transform: translateY(0) rotate(180deg);
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: border-color 0.4s;
  transition: border-color 0.4s;
}

input[type=text]:focus {
  border-color: #007bff;
  outline: none;
}

.slots-dropdown {
  display: none;
  /* Приховано за замовчуванням */
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 12px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 100;
  border: 1px solid #eee;
}

.slots-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.1875rem;
}

.slot-btn {
  padding: 0.25rem;
  border: 1px solid #007bff;
  background: transparent;
  color: #007bff;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slot-btn:hover {
  background: #007bff;
  color: white;
}

.slot-btn.busy {
  border-color: #ccc;
  color: #ccc;
  cursor: not-allowed;
}

@media (min-width: 67.5em) {
  .leading__header {
    margin-bottom: 112px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .leading__header {
    margin-bottom: clamp( 40px , 9.6842105263px  +  9.4736842105vw , 112px );
  }
}
@media (max-width: 20em) {
  .leading__header {
    margin-bottom: 40px;
  }
}
.leading__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(16.875rem, 100%), 1fr));
}
@media (min-width: 67.5em) {
  .leading__items {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .leading__items {
    -webkit-column-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
       -moz-column-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
            column-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
  }
}
@media (max-width: 20em) {
  .leading__items {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (min-width: 67.5em) {
  .leading__items {
    row-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .leading__items {
    row-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
  }
}
@media (max-width: 20em) {
  .leading__items {
    row-gap: 15px;
  }
}

@media (min-width: 67.5em) {
  .faq__header {
    margin-bottom: 95px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .faq__header {
    margin-bottom: clamp( 40px , 16.8421052632px  +  7.2368421053vw , 95px );
  }
}
@media (max-width: 20em) {
  .faq__header {
    margin-bottom: 40px;
  }
}
.faq__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15.625rem, 100%), 1fr));
  grid-template-rows: auto;
}
@media (min-width: 67.5em) {
  .faq__items {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .faq__items {
    -webkit-column-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
       -moz-column-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
            column-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
  }
}
@media (max-width: 20em) {
  .faq__items {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (min-width: 67.5em) {
  .faq__items {
    row-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .faq__items {
    row-gap: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
  }
}
@media (max-width: 20em) {
  .faq__items {
    row-gap: 15px;
  }
}

@media (min-width: 67.5em) {
  .pricing__header {
    margin-bottom: 80px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .pricing__header {
    margin-bottom: clamp( 40px , 23.1578947368px  +  5.2631578947vw , 80px );
  }
}
@media (max-width: 20em) {
  .pricing__header {
    margin-bottom: 40px;
  }
}
.pricing__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(18.75rem, 100%), 1fr));
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  row-gap: 1.875rem;
}

@media (min-width: 67.5em) {
  .reviews__header {
    margin-bottom: 80px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .reviews__header {
    margin-bottom: clamp( 30px , 8.9473684211px  +  6.5789473684vw , 80px );
  }
}
@media (max-width: 20em) {
  .reviews__header {
    margin-bottom: 30px;
  }
}
.body-reviews__text {
  font-weight: 600;
  max-width: 14.625rem;
}
@media (min-width: 67.5em) {
  .body-reviews__text {
    font-size: 14px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .body-reviews__text {
    font-size: clamp( 12px , 11.1578947368px  +  0.2631578947vw , 14px );
  }
}
@media (max-width: 20em) {
  .body-reviews__text {
    font-size: 12px;
  }
}
.body-reviews__author {
  aspect-ratio: 1;
  width: 3.125rem;
}

.item-review {
  background-color: #fff;
  border: 0.0625rem solid rgb(221, 221, 221);
  border-radius: 0.3125rem;
}
.item-review__inner {
  padding-block: 1.875rem;
  padding-inline: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.25rem;
}
.subscribe {
  background-color: rgb(37, 43, 66);
}
.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 67.5em) {
  .subscribe__container {
    gap: 50px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .subscribe__container {
    gap: clamp( 20px , 7.3684210526px  +  3.9473684211vw , 50px );
  }
}
@media (max-width: 20em) {
  .subscribe__container {
    gap: 20px;
  }
}
@media (max-width: 43.4375em) {
  .subscribe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content-subscribe__title {
  font-weight: 700;
  letter-spacing: 0.0125rem;
  line-height: 142.5%; /* 57/40 */
  color: #fff;
}
@media (min-width: 67.5em) {
  .content-subscribe__title {
    font-size: 40px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .content-subscribe__title {
    font-size: clamp( 32px , 28.6315789474px  +  1.0526315789vw , 40px );
  }
}
@media (max-width: 20em) {
  .content-subscribe__title {
    font-size: 32px;
  }
}
.content-subscribe__text {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  line-height: 142.857143%; /* 20/14 */
  max-width: 27.5rem;
  color: #fff;
}

.form-subscribe {
  max-width: 24.125rem;
  width: 100%;
}
@media (max-width: 43.4375em) {
  .form-subscribe {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
}
.form-subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.3125rem;
  -webkit-transition: outline-offset 0.4s;
  transition: outline-offset 0.4s;
}
.form-subscribe__form:focus-within {
  outline: 0.125rem solid #0077ff;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
          box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
  outline-offset: 0.125rem;
}
@media (max-width: 26.25em) {
  .form-subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
  }
}
.form-subscribe__input {
  width: 100%;
  background-color: #fff;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  padding-block: 0.9375rem;
  padding-left: 1.25rem;
  font-size: 1rem !important;
  letter-spacing: 0.0125rem;
  outline: none;
  height: 3.625rem;
}
.form-subscribe__input::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}
.form-subscribe__input::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}
.form-subscribe__input:-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}
.form-subscribe__input::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}
.form-subscribe__input::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}
.form-subscribe__input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.form-subscribe__input:focus::-moz-placeholder {
  opacity: 0;
}
.form-subscribe__input:focus:-ms-input-placeholder {
  opacity: 0;
}
.form-subscribe__input:focus::-ms-input-placeholder {
  opacity: 0;
}
.form-subscribe__input:focus::placeholder {
  opacity: 0;
}
@media (max-width: 26.25em) {
  .form-subscribe__input {
    border-radius: 0.3125rem;
  }
}
.form-subscribe__button {
  outline: none;
}
@media (min-width: 26.25em) {
  .form-subscribe__button {
    padding-inline: 1.375rem;
  }
  .form-subscribe__button.button {
    border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  }
}

@-webkit-keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@font-face {
  font-family: "iconfont";
  src: url("/src/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"]::before {
  font-family: "iconfont";
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-arrow"]::before {
  content: "\e900";
}

[class*="--icon-basket"]::before {
  content: "\e901";
}

[class*="--icon-check"]::before {
  content: "\e902";
}

[class*="--icon-fb"]::before {
  content: "\e903";
}

[class*="--icon-instagram"]::before {
  content: "\e904";
}

[class*="--icon-people"]::before {
  content: "\e905";
}

[class*="--icon-search"]::before {
  content: "\e906";
}

[class*="--icon-shevron"]::before {
  content: "\e907";
}

[class*="--icon-star-empty"]::before {
  content: "\e908";
}

[class*="--icon-star-full"]::before {
  content: "\e909";
}

[class*="--icon-twitter"]::before {
  content: "\e90a";
}

[class*="--icon-chevron-right"]::before {
  content: "\e90b";
}

.components__container {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
  padding-top: 3.125rem;
}

.icon-menu {
  position: relative;
  width: 1.875rem;
  height: 1.25rem;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.icon-menu::before, .icon-menu::after {
  content: "";
  position: absolute;
  right: 0;
  height: 0.1875rem;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-menu::before {
  top: 0;
  width: 100%;
}
.icon-menu::after {
  bottom: 0;
  width: 50%;
}
.icon-menu span {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  background-color: #fff;
  width: 75%;
  height: 0.1875rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 46.62375em) {
  .icon-menu {
    display: none;
  }
}

.menu-open .icon-menu::before {
  top: 50%;
  rotate: 45deg;
  translate: 0 -50%;
}
.menu-open .icon-menu::after {
  top: 50%;
  rotate: -45deg;
  translate: 0 -50%;
  width: 100%;
}
.menu-open .icon-menu span {
  width: 0;
}

.icon-more {
  position: relative;
  width: 0.9375rem;
  height: 0.9375rem;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.icon-more::before, .icon-more::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  border-radius: 0.375rem;
}
.icon-more::before {
  left: 0;
  top: 50%;
  translate: 0 -50%;
}
.icon-more::after {
  rotate: 90deg;
  top: 50%;
  translate: 0 -50%;
}

.button {
  color: #fff;
  font-size: 0.875rem;
  padding-block: 0.9375rem;
  background-color: rgb(35, 166, 240);
  border-radius: 0.3125rem;
  font-weight: 700;
  letter-spacing: 0.00625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 1.4;
  border: 0.0625rem solid rgb(35, 166, 240);
  z-index: 20;
}
html[data-input=mouse] .button:hover {
  background-color: transparent;
  color: rgb(35, 166, 240);
}
.button--icon-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  -webkit-transition: translate 0.4s ease-out;
  transition: translate 0.4s ease-out;
}
@media (min-width: 67.5em) {
  .button--icon-arrow {
    padding-inline: 25px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .button--icon-arrow {
    padding-inline: clamp( 13px , 7.9473684211px  +  1.5789473684vw , 25px );
  }
}
@media (max-width: 20em) {
  .button--icon-arrow {
    padding-inline: 13px;
  }
}
html[data-input=mouse] .button--icon-arrow:hover::before {
  translate: 0.3125rem 0;
}
.button--icon-arrow::before {
  font-size: 0.625rem;
  -webkit-transition: translate 0.4s ease-out;
  transition: translate 0.4s ease-out;
}
.button--radius {
  padding-inline: 2.25rem;
  border-radius: 2.3125rem;
}
.button--radius-white {
  background-color: transparent;
  border: 0.0625rem solid #fff;
}
html[data-input=mouse] .button--radius-white:hover {
  background-color: rgb(35, 166, 240);
  color: #fff;
  border-color: rgb(35, 166, 240);
}

.button-search,
.button-basket {
  font-size: 1.5rem;
  z-index: 20;
  color: #fff;
}
@media (min-width: 46.62375em) {
  .button-search,
  .button-basket {
    display: none;
  }
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.header-block__title {
  letter-spacing: 0.2px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(37, 43, 66);
}
@media (min-width: 67.5em) {
  .header-block__title {
    font-size: 40px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .header-block__title {
    font-size: clamp( 30px , 25.7894736842px  +  1.3157894737vw , 40px );
  }
}
@media (max-width: 20em) {
  .header-block__title {
    font-size: 30px;
  }
}
.header-block__text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 142.857143%; /* 20/14 */
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 29.375rem;
}

.cart-item {
  will-change: scale;
  -webkit-transition: scale 0.5s;
  transition: scale 0.5s;
  overflow: hidden;
}
.cart-item__link {
  display: grid;
}
html[data-input=mouse] .cart-item:hover {
  scale: 1.006;
}
html[data-input=mouse] .cart-item:hover .body-cart__link::after {
  opacity: 1;
}
html[data-input=mouse] .cart-item:hover .top-cart {
  background-color: rgb(35, 166, 240);
}

.top-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  border-radius: 0.6875rem 0.6875rem 0rem 0rem;
  height: 8.25rem;
  background-color: rgb(142, 194, 242);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
@media (min-width: 67.5em) {
  .top-cart {
    padding-block: 30px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .top-cart {
    padding-block: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
  }
}
@media (max-width: 20em) {
  .top-cart {
    padding-block: 15px;
  }
}
@media (min-width: 67.5em) {
  .top-cart {
    padding-inline: 50px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .top-cart {
    padding-inline: clamp( 25px , 14.4736842105px  +  3.2894736842vw , 50px );
  }
}
@media (max-width: 20em) {
  .top-cart {
    padding-inline: 25px;
  }
}
.top-cart__icon {
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.5rem;
  aspect-ratio: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.top-cart__icon svg {
  fill: rgb(35, 166, 240);
  width: 1.5rem;
  height: 1.25rem;
}
.top-cart__title {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.00625rem;
}

.body-cart {
  background-color: #fff;
  border: 0.0625rem solid rgb(142, 194, 242);
  border-radius: 0rem 0rem 0.6875rem 0.6875rem;
}
@media (min-width: 67.5em) {
  .body-cart {
    padding-block: 30px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .body-cart {
    padding-block: clamp( 15px , 8.6842105263px  +  1.9736842105vw , 30px );
  }
}
@media (max-width: 20em) {
  .body-cart {
    padding-block: 15px;
  }
}
@media (min-width: 67.5em) {
  .body-cart {
    padding-inline: 50px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .body-cart {
    padding-inline: clamp( 25px , 14.4736842105px  +  3.2894736842vw , 50px );
  }
}
@media (max-width: 20em) {
  .body-cart {
    padding-inline: 25px;
  }
}
.body-cart__list {
  margin-bottom: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.body-cart__item {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  max-width: 14.625rem;
}
.body-cart__link {
  position: relative;
  color: rgb(35, 166, 240);
  font-weight: 600;
  letter-spacing: 0.2px;
}
.body-cart__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(35, 166, 240);
  width: 100%;
  height: 0.0625rem;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  will-change: opacity;
}

.faq-item {
  background-color: #fff;
  border-radius: 0.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.25rem;
}
@media (min-width: 67.5em) {
  .faq-item {
    padding: 25px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .faq-item {
    padding: clamp( 15px , 10.7894736842px  +  1.3157894737vw , 25px );
  }
}
@media (max-width: 20em) {
  .faq-item {
    padding: 15px;
  }
}
.faq-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 1.25rem;
  cursor: pointer;
}
.faq-item__icon::before {
  font-size: 0.625rem;
  rotate: -90deg;
  translate: 0 -0.3125rem;
  color: rgb(35, 166, 240);
  -webkit-transition: rotate 0.3s;
  transition: rotate 0.3s;
}
.faq-item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3125rem;
}
.faq-item__title {
  font-weight: 700;
  color: rgb(37, 43, 66);
  max-width: 15.625rem;
  letter-spacing: 0.0125rem;
}
@media (min-width: 67.5em) {
  .faq-item__title {
    font-size: 16px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .faq-item__title {
    font-size: clamp( 14px , 13.1578947368px  +  0.2631578947vw , 16px );
  }
}
@media (max-width: 20em) {
  .faq-item__title {
    font-size: 14px;
  }
}
.faq-item__body {
  padding-left: 2.375rem;
}
.faq-item__text {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0125rem;
  max-width: 13.1875rem;
}
@media (min-width: 67.5em) {
  .faq-item__text {
    font-size: 14px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .faq-item__text {
    font-size: clamp( 12px , 11.1578947368px  +  0.2631578947vw , 14px );
  }
}
@media (max-width: 20em) {
  .faq-item__text {
    font-size: 12px;
  }
}

.item-pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
  background-color: #fff;
  border-radius: 0.625rem;
  border: 0.0625rem solid rgb(35, 166, 240);
}
@media (min-width: 67.5em) {
  .item-pricing {
    padding-block: 50px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .item-pricing {
    padding-block: clamp( 25px , 14.4736842105px  +  3.2894736842vw , 50px );
  }
}
@media (max-width: 20em) {
  .item-pricing {
    padding-block: 25px;
  }
}
@media (min-width: 67.5em) {
  .item-pricing {
    padding-inline: 40px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .item-pricing {
    padding-inline: clamp( 20px , 11.5789473684px  +  2.6315789474vw , 40px );
  }
}
@media (max-width: 20em) {
  .item-pricing {
    padding-inline: 20px;
  }
}
.item-pricing--dark {
  background-color: rgb(37, 43, 66);
  padding-block: 4.375rem;
}
.item-pricing--dark .body-pricing__item,
.item-pricing--dark .top-pricing__desc,
.item-pricing--dark .top-pricing__title {
  color: #fff;
}
.item-pricing__button {
  width: 100%;
}

.top-pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
}
.top-pricing__title {
  font-weight: 700;
  color: rgb(37, 43, 66);
  text-transform: uppercase;
  letter-spacing: 0.00625rem;
}
@media (min-width: 67.5em) {
  .top-pricing__title {
    font-size: 24px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .top-pricing__title {
    font-size: clamp( 20px , 18.3157894737px  +  0.5263157895vw , 24px );
  }
}
@media (max-width: 20em) {
  .top-pricing__title {
    font-size: 20px;
  }
}
.top-pricing__desc {
  max-width: 10rem;
  font-weight: 700;
  letter-spacing: 0.00625rem;
  text-align: center;
}
@media (min-width: 67.5em) {
  .top-pricing__desc {
    font-size: 16px;
  }
}
@media (min-width: 20em) and (max-width: 67.5em) {
  .top-pricing__desc {
    font-size: clamp( 14px , 13.1578947368px  +  0.2631578947vw , 16px );
  }
}
@media (max-width: 20em) {
  .top-pricing__desc {
    font-size: 14px;
  }
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.price__amount {
  font-size: 2.5rem;
  letter-spacing: 0.0125rem;
  line-height: 142.5%; /* 57/40 */
  color: rgb(35, 166, 240);
  font-weight: 700;
}
.price__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.price__sign {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(35, 166, 240);
}
.price__text {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.0125rem;
  color: rgb(142, 194, 242);
}

.body-pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}
.body-pricing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(37, 43, 66);
}
.body-pricing__item:nth-child(4)::before, .body-pricing__item:nth-child(5)::before {
  background-color: rgb(189, 189, 189);
}
.body-pricing__item::before {
  font-size: 0.625rem;
  background-color: rgb(45, 192, 113);
  border-radius: 50%;
  padding-block: 0.625rem;
  padding-inline: 0.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
  width: 2rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: none;
  padding: 0;
  margin: 0;
}
.rating__item {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.rating__item:focus-visible + .rating__label {
  outline: 2px solid gold;
  outline-offset: 4px;
  border-radius: 2px;
}
.rating__item:checked ~ .rating__label {
  color: gold;
}
.rating__label {
  cursor: pointer;
  color: #ccc;
  -webkit-transition: color 0.2s ease-in-out, scale 0.4s ease;
  transition: color 0.2s ease-in-out, scale 0.4s ease;
  padding: 0 2px;
  will-change: scale;
}
.rating__label::before {
  font-size: 1.125rem;
}
.rating__label:hover, .rating__label:hover ~ .rating__label {
  color: gold;
}
.rating__label:active {
  scale: 0.9;
}
.rating__icon {
  width: 1.25rem;
  aspect-ratio: 1;
  fill: #ccc;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: rgb(115, 115, 115);
}
body.scroll-lock {
  overflow: hidden !important;
  height: 100vh !important;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 67.5rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

html[data-input=mouse] .menu-dropdown__item--submenu:hover > .menu-dropdown__submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

html[data-input=keyboard] .is-active .submenu-dropdowne {
  display: block;
}

html[data-input=touch] .menu-dropdown__item--submenu.is-active .menu-dropdown__link::before {
  rotate: -90deg;
}

[data-accordion-body] {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-accordion].active .header-approach__title {
  color: #000;
}
[data-accordion].active .header-approach__icon span::after {
  rotate: -180deg;
}

.active [data-accordion-icon]::before {
  rotate: 0deg;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}