@use '../settings/settings' as *;
@use '../settings/mixins' as *;


.header {
   // display: none;
   padding-block: toRem(23);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   transition: all 0.3s;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      // background: rgba(26, 30, 35, 0.6);
      // backdrop-filter: blur(10px);
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.3s;
   }

   &.scrolled {
      &::before {
         background: rgba(26, 30, 35, 0.2);
         backdrop-filter: blur(10px);
      }
   }

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap', 110, 20);
   }

   // .header__menu
   &__menu {
      // delete
      flex-grow: 1;
   }

   &__logo {
      @include adaptiveValue('font-size', 24, 20);
      color: $white;
      letter-spacing: toRem(0.1);
      font-weight: 700;
      line-height: 133.333333%; /* 32/24 */
      z-index: 20;
      transition: color 0.3s;

      @include hover {
        color: $bluePrimary;
      }

      @media (max-width: toEm(745)) {
        flex-grow: 1;
        color: $colorSecondary;
      }
   }

   &__button {
      @media (max-width: toEm(650)) {
        display: none !important;
      }
   }
}

.menu-header {

   @media (max-width: toEm(745)) {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: $white;
      padding: toRem(164) toRem(15) toRem(30) toRem(15);
      transition: all 0.3s;
      overflow-y: auto;

      .menu-open & {
         right: 0;
      }

      &::before {
         content: "";
         position: fixed;
         top: 0;
         right: -100%;
         width: 100%;
         min-height: toRem(90);
         background-color: $colorGrey;
         transition: all 0.3s;

         .menu-open & {
            right: 0;
         }
      }
   }

   // .menu-header__list
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include adaptiveValue('gap', 20, 10);
      color: $white;

      @media (max-width: toEm(745)) {
         display: flex;
         flex-direction: column;
         gap: toRem(30);
         align-items: center;
      }
   }

   // .menu-header__item
   &__item {}

   &__link {
      font-size: toRem(14);
      font-weight: 600;
      transition: color 0.3s;

      @include hover {
        color: $bluePrimary;
      }

      @media (max-width: toEm(745)) {
         color: $colorPrimary;
         font-size: toRem(30);
      }
   }
}



