@use '../settings/settings' as *;
@use '../settings/mixins' as *;

// ===========================================================================================
// -----------------------------
// page
// -----------------------------
.page {

   // .page__hero
   &__hero {}

   // .page__leading
   &__leading {
      @include adaptiveValue('padding-block', 112, 50);
   }

   // .page__faq
   &__faq {
      @include adaptiveValue('padding-block', 80, 50);
   }

   // .page__pricing
   &__pricing {
      @include adaptiveValue('padding-block', 112, 50);
   }

   // .page__subscribe
   &__subscribe {
      @include adaptiveValue('padding-block', 80, 50);
   }

   // .page__reviews
   &__reviews {
      @include adaptiveValue('padding-block', 112, 50);
   }
}


// ===========================================================================================
// -----------------------------
// hero
// -----------------------------
.hero {
   position: relative;

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('column-gap', 50, 20);
      padding-top: toRem(180);
      padding-bottom: toRem(53);

      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.5);
         background-position: center;
         z-index: -1;
      }

      @media (max-width: toEm(780)) {
         flex-direction: column;
         gap: toRem(90);
      }
   }

   &__image {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left top;
   }
}

.content-hero {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   @include adaptiveValue('row-gap', 35, 20);

   @media (max-width: toEm(780)) {
     width: 100%;
     align-items: center;
     text-align: center;
   }
   // .content-hero__title
   &__title {
      @include adaptiveValue('font-size', 58, 35);
      font-weight: 800;
      letter-spacing: toRem(0.2);
      color: $white;
      max-width: toRem(509);
      line-height: 137.931034%; /* 80/58 */
   }

   // .content-hero__text
   &__text {
      @include adaptiveValue('font-size', 20, 18);
      font-weight: 500;
      color: $white;
      letter-spacing: toRem(0.2);
      line-height: 150%; /* 30/20 */
      max-width: toRem(375);
   }

   // .content-hero__buttons
   &__buttons {
      display: flex;
      align-items: center;
      gap: toRem(10);
      flex-wrap: wrap;

      @media (max-width: toEm(385)) {
         justify-content: center;
      }
   }
}

.form-hero {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   @include adaptiveValue('row-gap', 40, 20);
   background-color: $white;
   max-width: toRem(328);
   border-radius: toRem(10);
   @include adaptiveValue('padding', 40, 20);

   @media (max-width: toEm(780)) {
     width: 100%;
   }

   // .form-hero__title
   &__title {
      @include adaptiveValue('font-size', 24, 20);
      font-weight: 700;
      color: $colorSecondary;
      letter-spacing: toRem(0.1);
   }

   // .form-hero__button
   &__button {
      width: 100%;
      margin-top: toRem(30);
   }
}

.form-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(10);
      width: 100%;
   // .form-item__wrapper
   &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(10);
      width: 100%;
   }

   // .form-item__label
   &__label {
      font-size: toRem(14);
      font-weight: 600;
      color: $colorSecondary;
      letter-spacing: toRem(0.2);
   }

   &__body {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      // border: toRem(1) solid $borderColor;
      // overflow: hidden;

      &:focus-within {
         .form-item__icon {
            &::before {
               transform: translateY(-50%) rotate(180deg);
            }
         }
      }
   }

   &__icon {
      position: absolute;
      top: 50%;
      right: 0;
      translate: 0 -50%;
      padding-right: toRem(20);
      transition: rotate 0.4s;
      rotate: 0deg;
      pointer-events: none;
      cursor: pointer;

      &::before {
         font-size: toRem(8);
         transition: transform 0.4s;
         will-change: rotate;
      }
   }

   &__select {
      font-family: "Montserrat",sans-serif;
      border: toRem(2) solid $borderColor;
      padding-block: toRem(11);
      padding-left: toRem(21);
      border-radius: toRem(5);
      width: 100%;
      appearance: none;
      height: toRem(50);
      color: $colorPrimary;
      outline: none;
      cursor: pointer;
      background-color: $white;
      font-size: toRem(14);
      letter-spacing: toRem(0.2);

      option {
         color: $black;
         font-weight: 500;


         &:not(last-child) {
            margin-bottom: toRem(20);
         }
      }

      &:valid  {
         .form-item__icon {
            &::before {
               rotate: 180deg;
            }
         }
      }

      &:focus-visible {
         border: toRem(1) solid $bluePrimary;
         box-shadow: 0 0 0 2px rgba(221, 221, 221, 0.5);
      }

      &:has(option[value=""]:checked) {
         font-size: toRem(14);
         color: $colorPrimary;
         letter-spacing: toRem(0.2);
      }
   }

   // .form-item__input
   &__input {
      border: toRem(1) solid $borderColor;
      padding-block: toRem(11);
      padding-left: toRem(21);
      border-radius: toRem(5);
      outline: none;
      transition: box-shadow 0.3s ease, border 0.4s, opacity 0.4s;
      appearance: none;
      height: toRem(50);
      font-size: toRem(14);

      &::placeholder {
         font-size: toRem(14);
         letter-spacing: toRem(0.2);
         line-height: 200%; /* 28/14 */
         transition: opacity 0.4s;
      }
      &:focus {
         &::placeholder {
            opacity: 0;
         }
      }
      &:focus-visible {
         border: toRem(1) solid $bluePrimary;
         box-shadow: 0 0 0 2px rgba(221, 221, 221, 0.5);
      }
   }
}


input[type="time"] {
   appearance: none;
   padding-right: toRem(15)
}

.booking-container {
   position: relative;
   width: 100%;

   &__label {
      font-size: toRem(14);
      font-weight: 600;
      letter-spacing: toRem(0.2);
      color: $colorSecondary;
      margin-bottom: toRem(12);
   }

   &__inner {
      display: flex;
      align-items: center;
      margin-top: toRem(10);
      height: toRem(50);

      .form-item__icon {
         translate: 0 toRem(3);
      }

      &:focus-within {
         .form-item__icon {
            &::before {
               transform: translateY(0) rotate(180deg);
            }
         }
      }
   }
}

input[type="text"] {
   width: 100%;
   padding: 12px;
   border: toRem(1) solid #e0e0e0;
   border-radius: 8px;
   cursor: pointer;
   background-color: #fff;
   transition: border-color 0.4s;
}

input[type="text"]:focus {
   border-color: #007bff;
   outline: none;
}

.slots-dropdown {
   display: none;
   /* Приховано за замовчуванням */
   position: absolute;
   top: 110%;
   left: 0;
   width: 100%;
   background: white;
   border-radius: 12px;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
   padding: 15px;
   z-index: 100;
   border: 1px solid #eee;
}

.slots-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: toRem(3);
}

.slot-btn {
   padding: toRem(4);
   border: 1px solid #007bff;
   background: transparent;
   color: #007bff;
   border-radius: 6px;
   cursor: pointer;
   text-align: center;
   font-weight: 500;
   transition: all 0.2s;
}

.slot-btn:hover {
   background: #007bff;
   color: white;
}

.slot-btn.busy {
   border-color: #ccc;
   color: #ccc;
   cursor: not-allowed;
}


// ===========================================================================================
// -----------------------------
// hero
// -----------------------------
.leading {
   // .leading__container
   &__container {}

   // .leading__header
   &__header {
      @include adaptiveValue('margin-bottom', 112, 40);
   }

   // .leading__items
   &__items {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(min(toRem(270),100%),1fr));
      @include adaptiveValue('column-gap', 30, 15);
      @include adaptiveValue('row-gap', 30, 15);
   }
}

// ===========================================================================================
// -----------------------------
// faq
// -----------------------------
.faq {
   // .faq__container
   &__container {}

   // .faq__header
   &__header {
      @include adaptiveValue('margin-bottom', 95, 40);
   }

   // .faq__items
   &__items {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(min(toRem(250),100%),1fr));
      @include adaptiveValue('column-gap', 30, 15);
      @include adaptiveValue('row-gap', 30, 15);
      grid-template-rows: auto;
   }
}

// ===========================================================================================
// -----------------------------
// pricing
// -----------------------------
.pricing {
   // .pricing__container
   &__container {}

   &__header {
      @include adaptiveValue('margin-bottom', 80, 40);
   }

   // .pricing__items
   &__items {
      // display: flex;
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(min(toRem(300),100%),1fr));
      align-items: end;
      row-gap: toRem(30);
   }
}

// ===========================================================================================
// -----------------------------
// reviews
// -----------------------------
.reviews {

   // .reviews__container
   &__container {}

   // .reviews__header
   &__header {
      @include adaptiveValue('margin-bottom', 80, 30);
   }

   // .reviews__body
   &__body {}
}

.body-reviews {

   // .body-reviews__text
   &__text {
      @include adaptiveValue('font-size', 14, 12);
      font-weight: 600;
      max-width: toRem(234);
   }

   // .body-reviews__author
   &__author {
      aspect-ratio: 1;
      width: toRem(50);
   }
}

.item-review {
   background-color: $white;
   border: toRem(1) solid $borderColor;
   border-radius: toRem(5);
   // .item-review__inner
   &__inner {
      padding-block: toRem(30);
      padding-inline: toRem(35);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(20);
   }

   // .item-review__rating
   &__rating {}
}

// ===========================================================================================
// -----------------------------
// subscribe
// -----------------------------
.subscribe {
   background-color: $colorSecondary;

   // .subscribe__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap',50,20);

      @media (max-width: toEm(695)) {
        flex-direction: column;
      }
   }
}

.content-subscribe {
   // .content-subscribe__title
   &__title {
      @include adaptiveValue('font-size', 40, 32);
      font-weight: 700;
      letter-spacing: toRem(0.2);
      line-height: 142.5%; /* 57/40 */
      color: $white;
   }

   // .content-subscribe__text
   &__text {
      font-size: toRem(14);
      font-weight: 500;
      letter-spacing: toRem(0.2);
      line-height: 142.857143%; /* 20/14 */
      max-width: toRem(440);
      color: $white;
   }
}

.form-subscribe {
   // flex-basis: toRem(386);
   max-width: toRem(386);
   width: 100%;

   @media (max-width: toEm(695)) {
     flex-basis: 100%;
     width: 100%;
   }

   // .form-subscribe__form
   &__form {
      display: flex;
      border-radius: toRem(5);
      transition: outline-offset 0.4s;

      &:focus-within {
         outline: toRem(2) solid #0077ff;
         box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
         outline-offset: toRem(2);
      }

      @media (max-width: toEm(420)) {
        flex-direction: column;
        gap: toRem(10);
      }
   }

   // .form-subscribe__input
   &__input {
      width: 100%;
      background-color: $white;
      border-radius: toRem(5) toRem(0) toRem(0) toRem(5);
      padding-block: toRem(15);
      padding-left: toRem(20);
      font-size: toRem(14);
      letter-spacing: toRem(0.2);
      outline: none;
      height: toRem(58);

      &::placeholder {
         transition: opacity 0.3s;
         opacity: 1;
      }

      &:focus {
         &::placeholder {
            opacity: 0;
         }
      }

      @media (max-width: toEm(420)) {
         border-radius: toRem(5);
      }
   }

   // .form-subscribe__button
   &__button {
      outline: none;
      @media (min-width: toEm(420)) {
         padding-inline: toRem(22);

         &.button {
            border-radius: toRem(0) toRem(5) toRem(5) toRem(0);
         }
      }
   }
}


